[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=dockerundercursor
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Docker Under Cursor
Comment=Show floating dockers at the cursor position using keyboard shortcuts.
