[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=dockerundercursor
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=dockerundercursor
Comment=Display docker on cursor position.

